# Tutorial 9

## Database

In [9]:
import MySQLdb


db = MySQLdb.connect(user='root', passwd='saran123', db='time',
                             host='localhost', port=80)

cursor = db.cursor()

cursor.execute("insert into timer values(now())")
print "Time Inserted"

Time Inserted

In [10]:
# execute the SQL query using execute() method.
cursor.execute ("select * from timer")

# fetch all of the rows from the query
data = cursor.fetchall ()

# print the rows
for row in data :
    print row[0]

2016-04-17 18:28:01
2016-04-17 18:28:25
2016-04-17 18:29:01
2016-04-17 18:30:01
2016-07-07 11:29:06
2016-07-07 11:42:05
2016-07-12 19:14:51
2016-07-12 19:15:53
2017-03-15 21:03:32
2017-03-15 21:46:34
2017-03-15 21:51:41
2017-03-15 21:56:10

In [11]:
db.commit()

In [17]:
print cursor.execute("insert into timer values(now())")

1

In [18]:
# execute the SQL query using execute() method.
cursor.execute ("select * from timer")

# fetch all of the rows from the query
data = cursor.fetchall ()

# print the rows
for row in data :
    print row[0]

2016-04-17 18:28:01
2016-04-17 18:28:25
2016-04-17 18:29:01
2016-04-17 18:30:01
2016-07-07 11:29:06
2016-07-07 11:42:05
2016-07-12 19:14:51
2016-07-12 19:15:53
2017-03-15 21:03:32
2017-03-15 21:46:34
2017-03-15 21:51:41
2017-03-15 21:56:10
2017-03-15 21:58:23
2017-03-15 21:58:35
2017-03-15 21:58:51

In [19]:
db.rollback()

In [20]:
# execute the SQL query using execute() method.
cursor.execute ("select * from timer")

# fetch all of the rows from the query
data = cursor.fetchall ()

# print the rows
for row in data :
    print row[0]

2016-04-17 18:28:01
2016-04-17 18:28:25
2016-04-17 18:29:01
2016-04-17 18:30:01
2016-07-07 11:29:06
2016-07-07 11:42:05
2016-07-12 19:14:51
2016-07-12 19:15:53
2017-03-15 21:03:32
2017-03-15 21:46:34
2017-03-15 21:51:41
2017-03-15 21:56:10